<template>
  <div>
    <p>Full Name : {{ fullName }} </p>
    <p>
      <label for="">First Name : </label>
      <input type="text" v-model="firstName" />
    </p>
    <p>
      <label for="">Last Name : </label>
      <input type="text" v-model="lastName" />
    </p>
    <p>{{ num }}</p>
    <button @click="incrementNum">Increment</button>
  </div>
</template>

<script>
export default {
  name: "ComputedView",
  data: () => {
        return {
            firstName: '',
            lastName: ' ',
            num : 0,
        };
    },
    // methods: {
    //     fullName () {
    //         console.log("Re-evalating fullName")
    //         return this.firstName + this.lastName
    //     },
    //     incrementNum() {
    //         // this.num = this.num + 1
    //          this.num++
    //     }
    // },
    computed: {
        fullName() {
            console.log("Re-evalating fullName")
            return this.firstName + this.lastName 
        }
    },
    methods: {
        incrementNum() {
            this.num++
        }
    },
};
</script>

<style lang="scss" scoped>
</style>