<template>
  <div>
    <p>Full Name : {{ fullName }}</p>
    <button @click="changeName">Change Name</button>
  </div>
</template>

<script>
export default {
    name: "GetterSetter",
  data() {
    return {
      firstName: "Jack",
      lastName: "Ma",
    };
  },
  computed: {
    fullName: {
      get() {
        return this.firstName + " " + this.lastName;
      },
      set(value) {
        const names = value.split(" ");
        this.firstName = names[0];
        this.lastName = names[1];
      },
    },
    },
  
  methods: {
    changeName() {
      this.fullName = "P PK";
    },
  },
};
</script>